# Client environment variables
REACT_APP_PROD=http://localhost:3001/api

# Server environment variables
CLIENT=http://localhost:3000 
MONGODB_URI=<mongodb uri string>
EMAIL_USER=your_email@gmail.com for feedback form
EMAIL_APP_PASSWORD=your_app_specific_password
SESSION_SECRET=your session secret
OIDC_ISSUER=your_oidc_issuer
OIDC_AUTH_URL=your_oidc_auth_url
OIDC_TOKEN_URL=your_oidc_token_url
OIDC_USERINFO_URL=your_oidc_userinfo_url
OIDC_CLIENT_ID=your_oidc_client_id
OIDC_CLIENT_SECRET=your_oidc_client_secret

TODOIST_CLIENT_ID=your client id
TODOIST_CLIENT_SECRET=your client secret
TODOIST_REDIRECT_URL=http://localhost:3001/api/auth/todoist/callback 
TICKTICK_CLIENT_ID=your client id
TICKTICK_CLIENT_SECRET=your client secret
TICKTICK_REDIRECT_URL=http://localhost:3001/api/auth/ticktick/callback
